<h2>Hi!</h2>
<p>I'm a Master's student at the <a href="https://lti.cs.cmu.edu/">Language Technologies Institute</a> in Carnegie Mellon University's School of Computer Science. I'm interested in machine learning, natural language processing, and robotics.</p>
<p>Before grad school, I worked as a software engineer for 4 years, deploying machine learning to solve practical problems at small startups (Yik Yak, Scaled Inference) and at a large industrial R&D lab (<a href="https://www.uber.com/us/en/atg/">Uber ATG</a>).</p>
<p>Earlier, I studied math as an undergrad at CMU, graduating in 2016.</p>

