<div class="fa-ul main-list list-inline">
    <a
      href="#"
      # Email address encoded in base64
      data-contact="dmlqYXl2QGFuZHJldy5jbXUuZWR1"
      onfocus="this.href = 'mailto:' + atob(this.dataset.contact)"
    >
      <i class="fa fa-envelope" style="color:black;font-size:24px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://www.linkedin.com/in/viswavi/">
      <i class="fa fa-linkedin" style="color:black;font-size:24px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="https://github.com/viswavi">
      <i class="fa fa-github" style="color:black;font-size:24px;"></i>
    </a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="resume.pdf">
      <i class="fa fa-file" style="color:black;font-size:24px;"></i>
    </a>
    <a href="resume.pdf">
        <i style="color:black;font-size:18px;font-family:Vollkorn;font-style:normal;">&nbsp;Resume</i>
      </a>
</div>
